@page "/models/create/"

@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable


<h3 class="card-title">Create New Model</h3>
<hr />
<br />

<FormComponent ButtonText="Create Model" model="model" OnValidSubmit="@CreateModel" />

@code {
    Model model = new Model();
    
    private async Task CreateModel()
    {
        _interceptor.MonitorEvent();
        await _client.PostAsJsonAsync(Endpoints.ModelsEndpoint, model);
        _navManager.NavigateTo("/models/");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}