@page "/vehicles/create/"

@inject IHttpRepository<Vehicle> _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor


<h3 class=""card-title">Create New Vehicle</h3>
<hr />
<br />

<FormComponent ButtonText="Create Vehicle" vehicle="vehicle" OnValidSubmit="@CreateVehicle" />

@code {
    Vehicle vehicle = new Vehicle();

    private async Task CreateVehicle()
    {
        await _client.Create(Endpoints.VehiclesEndpoint, vehicle);
        _navManager.NavigateTo("/vehicles/");
    }
}