@page "/colors/create/"

@inject IHttpRepository<Color> _client
@inject NavigationManager _navManager



<h3 class="card-title">Create New Color</h3>
<hr />
<br />

<FormComponent ButtonText="Create Color" color="color" OnValidSubmit="CreateColor"/> 

@code {
    Color color = new Color();
    
    private async Task CreateColor()
    {
        await _client.Create(Endpoints.ColorsEndpoint, color);
        _navManager.NavigateTo("/colors/");
    }
}