@page "/colors/view/{id:int}"

@inject HttpClient _client
@inject HttpInterceptorService _interceptor
@inject NavigationManager _navManager
@implements IDisposable

<h3>View</h3>

<FormComponent color="color" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Color color = new Color();
    
    protected async override Task OnParametersSetAsync()
    {
        color = await _client.GetFromJsonAsync<Color>($"{Endpoints.ColorsEndpoint}/{id}");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}